<form method="post" action="{{ path('rosine_articles_delete', {'artNumber': rosine_article.artNumber}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rosine_article.artNumber) }}">
    <button class="btn">Delete</button>
</form>
