{% extends 'base.html.twig' %}

{% block title %}New RosineLocations{% endblock %}

{% block body %}
    <h1>Create new RosineLocations</h1>

    {{ include('rosine_locations/_form.html.twig') }}

    <a href="{{ path('rosine_locations_index') }}">back to list</a>
{% endblock %}
