{% extends 'base.html.twig' %}

{% block title %}New RosineDeliveriesPositions{% endblock %}

{% block body %}
    <h1>Create new RosineDeliveriesPositions</h1>

    {{ include('rosine_deliveries_positions/_form.html.twig') }}

    <a href="{{ path('rosine_deliveries_positions_index') }}">back to list</a>
{% endblock %}
