<form method="post" action="{{ path('app_customer_delete', {'contactId': customer.contactId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.contactId) }}">
    <button class="btn">Delete</button>
</form>
