{% extends 'base.html.twig' %}

{% block title %}New RosineNotes{% endblock %}

{% block body %}
    <h1>Create new RosineNotes</h1>

    {{ include('rosine_notes/_form.html.twig') }}

    <a href="{{ path('rosine_notes_index') }}">back to list</a>
{% endblock %}
