<div id="rosine_input_wrap">
	<form action="#" method="POST">
		<div class="rosine_input">
			<p class="rosine_input_header">{$what_to_do}</p> 
				<div id="rosine_input_right">	
				{L_NOTES}:<br>	
				<textarea name="loc_note" rows="5" cols="40"></textarea><br>
				<p class="rosine_back"><a href="locations.php" >{L_BACK}</a></p>			
				</div>
				<div id="rosine_input_left">	<br>	
				{L_LOCATION_ID}: <input type="text" name="loc_id" size="10" maxlength="40" value="{$loc_id}" ><br> <br>
				{L_LOCATION_NAME}: <input type="text" name="loc_name" value="{$loc_name}" size="30" maxlength="255"><br>
				<br>
				<br><br>
				<input type="hidden" name="next_function" value="{$next_function}">				
				<input type="submit" title="insert_location" value="{$what_to_do}">
				</div>
				<div style="clear:both;">
							
				</div>
			</div>
		</form>
</div>
