{*Header einbinden*}
{include file="head.html"}
<div id="rosine_paperwork_form_new" class="rosine_paperwork">
	<h3>Artikel in %paperwork% einfügen</h3>
	<br>
	<br>
	<br>	
	<br>
	<br>
	<br>
	<br>
	<h3>Besonders beliebte Artikel</h3>
	
</div>
<div id="rosine_paperwork_form_edit" class="rosine_paperwork">
	<div id="rosine_paperwork_form_change" class="rosine_paperwork">
	<h3>%%paperwork% ändern</h3>
		
	</div>
	<div id="rosine_paperwork_form_buttons" class="rosine_paperwork">
	<h3>Und jetzt?</h3>	
	<p><br>
	<button>Weiter</button><br>
	<button>Abbrechen</button></p>
	
	</div>
</div>

{*Footer einbinden*}
{include file="footer.html"}