{*Header einbinden*}
{include file="head.html"}
<form action="#" method="POST">
<div id="rosine_paperwork_form_new" class="rosine_paperwork">
	<h3>{L_INSERT_INTO_PAPERWORK}</h3>
	<br>
	{$input_fields}
	<br>
	<br>
	<h3>{L_FAVORITE_ARTICLES}</h3>
	{$input_favorites}
	{$next_function}
</div>
<div id="rosine_paperwork_form_edit" class="rosine_paperwork">
	<div id="rosine_paperwork_form_change" class="rosine_paperwork">
	<h3>{L_CHANGE_PAPERWORK}</h3>
		{$paperwork_list}
	</div>
	<div id="rosine_paperwork_form_buttons" class="rosine_paperwork">
	<h3>{L_WHAT_S_NEXT}</h3>	
	<p><br>
	{L_PAPERWORK_FOR_CUSTOMER} <br> <b>{$customer}</b> [{$ID}]<br><br>
	<button>{L_NEXT_STEP}</button><br>
	<button>{L_CANCEL}</button></p><br>
	
	</div>
</div>
</form>
{*Footer einbinden*}
{include file="footer.html"}