{*Header einbinden*}
{include file="head.html"}
<form action="#" method="POST">
<div id="rosine_paperwork_form_new" class="rosine_paperwork">
	<h3>{L_INSERT_INTO_PAPERWORK}</h3>
	<br>
	{$input_fields}
	<br>
	<br>
	{$additional}
	{$next_function}
</div>
<div id="rosine_paperwork_form_edit" class="rosine_paperwork">
	<div id="rosine_paperwork_form_change" class="rosine_paperwork">
	<h3>{L_CHANGE_PAPERWORK}</h3>
		{$paperwork_list}
	</div>
	<div id="rosine_paperwork_form_buttons" class="rosine_paperwork">
	<h3>{L_WHAT_S_NEXT}</h3>	
	<p><br>
	{L_PAPERWORK_FOR_CUSTOMER} <br> <b>{$customer}</b> [{$ID}]<br><br>
	<p><button class="rosine_button_next">{L_NEXT_STEP}</button></p>
	<p class="rosine_back"><a href="{$paperwork_file}.php?from={$this_number}" >{L_READY}</a></p>
	</p>
	</div>
</div>
</form>
{*Footer einbinden*}
{include file="footer.html"}