{*Header einbinden*}
{include file="head.html"}
	<div id="wrap">
		<aside>
			<div id="ribbon">
				<h3 >{L_MAIN_MENUE}</h3>			
			</div>
			<div id="boxes">
				<article id ="button1">
					<h3>{L_OFFERS}</h3>
					<a href="paperwork_change.php?paperwork=offer" >{L_MAKE_NEW_OFFER}</a> <br>
					<a href="paperwork_list.php?paperwork=offer">{L_OFFER_LIST}</a>
				</article>
				<article id="button2">
					<h3>{L_ORDERS}</h3>
					<a href="paperwork_change.php?paperwork=order" >{L_INPUT_NEW_ORDER}</a><br> 
					<a href="paperwork_list.php?paperwork=order">{L_ORDERS_LIST}</a>
				</article>
				<article id="button3">
					<h3>{L_DELIVERY_NOTES}</h3>
					<a href="paperwork_change.php?paperwork=delivery" >{L_GENERATE_NEW_DELIVERY_NOTE}</a><br> 
					<a href="paperwork_list.php?paperwork=delivery">{L_DELIVERY_NOTE_LIST}</a>
				</article>
				<article id="button4">
					<h3>{L_INVOICES}</h3>
					<a href="paperwork_change.php?paperwork=invoice" >{L_GENERATE_NEW_INVOICE}</a><br>
					<a href="paperwork_list.php?paperwork=invoice">{L_INVOICE_LIST}</a>									
				</article>
				<article id="button5">
					<h3>{L_PAYMENTS}</h3>
					<a href="payments_change.php">{L_INPUT_NEW_PAYMENT}</a><br>
					<a href="payments.php">{L_UNPAID_INVOICES}</a>
					<a href="dunnings.php">{L_DUNNINGS}</a>									
				</article>
				<article id="button6">
					<h3>{L_ARTICLES}</h3>
					<a href="articles_change.php">{L_GENERATE_ARTICLES}</a>
					<a href="type_list.php?type=article">{L_ARTICLES_LIST}</a><br>
					<a href="type_list.php?type=tax">{L_TAXES}</a>
					<a href="type_list.php?type=location" >{L_STOCK_LOCATIONS}</a>									
				</article>
		
				<div class="clear"></div>
			</div>
		</aside>
	</div>	
	<script src='js/mainmenu.js'></script>
{*Footer einbinden*}
{include file="footer.html"}