{*Header einbinden*}
{include file="head.html"}
<form action="#" method="POST">
<div id="rosine_paperwork_form_new" class="rosine_paperwork">
	<h3>{L_PAPERWORK_FOR_CUSTOMER}  <b>{$customer}</b> [{$ID}]</h3>	
	
<p ><button class="rosine_button_next" style="float:left; padding:9px; margin-left:20%">{L_SAVE}</button></p>
	<p class="rosine_back" style="float:left; padding:10px;margin-left:20%;">
		<a href="paperwork_print.php?paperwork={$paperwork_type}&paperwork_id={$paperwork_id}" 
					target="_blank" >{L_PRINT}</a>
	</p>
	<p class="rosine_back" style="float:left; padding:10px;margin-left:20%;">
		<a  href="paperwork_list.php?from={$this_number}&paperwork={$paperwork_type}" >{L_BACK}</a>
	</p>
	
	<br>
	<br><br>
	<h3>{L_WHAT_IS_PACKED}</h3>
	<br>
	{$check_fields}
	<br>
	<br>
	<h3>{L_FAVORITE_ARTICLES} {L_AND} {L_MORE_FIELDS}</h3>
	{$input_fields}
	{$additional}
	{$next_function}	

</div>
</form>
{*Footer einbinden*}
{include file="footer.html"}