{*Header einbinden*}
{include file="head.html"}

<div id="rosine_paperwork_form_new" class="rosine_paperwork">
	<h3 class="{$paperwork_type}">{L_CUSTOMER_LIST}</h3>
	<p id="rosine_table_note"> {L_PAGE_BUTTONS}  </p>
	
	<form action="#" method="post">
<b>{L_SELECT_NOTE}:</b> {$note_field}<br>	
	<br>	
	<input type="hidden" name="next_function" value="insert">
	{$input_fields}
		
	</form>
	<br><form action="#" method="POST">
	
	<h3 class="{$paperwork_type}">{L_MORE_FUNCTIONS}</h3>
	<p id="rosine_paperwork_search_customers">
	<br>
	<select name="sort_list" size="1">	
	<option value="customer_with_most_sales" {$sort[customer_with_most_sales]}>{L_CUSTOMERS_WITH_MOST_SALES}</option> 
	<option value="customer_with_most_paperwork" {$sort[customer_with_most_paperwork]}>{L_CUSTOMERS_WITH_MOST_PAPERWORK}</option> 
	<option value="last_customers" {$sort[last_customers]}>{L_LAST_CUSTOMERS}</option>
	<option value="sorted_in_alphabetic_order" {$sort[sorted_in_alphabetic_order]}>{L_SORTED_IN_ALPHABETIC_ORDER}</option>
	<option value="customers_with_open_offer" {$sort[customers_with_open_offer]}>{L_ALL_CUSTOMERS_WITH_OPEN_OFFERS}</option>
	<option value="customers_with_open_order" {$sort[customers_with_open_order]}>{L_ALL_CUSTOMERS_WITH_OPEN_ORDERS}</option>
	<option value="customers_with_open_delivery" {$sort[customers_with_open_delivery]}>{L_ALL_CUSTOMERS_WITH_OPEN_DELIVERIES}</option>
	<option value="customers_with_open_invoice" {$sort[customers_with_open_invoice]}>{L_ALL_CUSTOMERS_WITH_OPEN_INVOICES}</option>
	</select>	
	
	<input type="text" placeholder="{L_CUSTOMER_NAME_OR_NUMBER}" value="{$searchstring}" width="40" maxwidth="60" name="searchstring"> 
	<input type="submit" name="find" value="finden">
	<input type="hidden" name="next_function" value="find_customer">
	</form></p>
</div>

{*Footer einbinden*}
{include file="footer.html"}