{% extends 'base.html.twig' %}

{% block title %}New RosineDeliveries{% endblock %}

{% block body %}
    <h1>Create new RosineDeliveries</h1>

    {{ include('rosine_deliveries/_form.html.twig') }}

    <a href="{{ path('rosine_deliveries_index') }}">back to list</a>
{% endblock %}
